.login{
    width: 350px;
    height:400px;
    border: 1px solid rgb(247, 241, 241);
    border-radius: 10px;
    text-align: center;
    background-color: #FAF0E6;
    box-shadow: 5px 5px 5px rgb(169, 163, 163);
    position: absolute;
    top:50px;
    bottom:100px;
    left: 500px;
   
   }
   h2{
     margin-right:120px;
     font-family: 'Lucida Sans';
   }
   p{
       margin-right:75px;
   }
   #me{
       margin-right:40px;
   }
   
   button{
       width:250px ;
       height: 30px;
       margin-bottom: 10px;
       text-align: center;
       background-color: #FFFAFA;
       border-radius: 5px;
       border-color: lightgrey;
       border-width: 1px;
   
   }
   input
   {
       width:250px ;
       height: 30px;
       margin-bottom: 10px;
       background-color:#F5F5F5;
       border-radius: 5px;
       border-width: 1px;
       border-color:#F5F5F5;
   
   }
   #login{
       background-color:#FF8C00;
       height:35px;
       margin-top: 10px;
       color: white;
   }